h1 {
  text-align: center;
  /*color: brown;*/
}

p {
  font-family:serif;
  font-size: 150%;
}
.sidebar {
  float:right;
  font-weight: bolder;
  color: brown;
  background-color: #F8C9A6;
  width: 20%;
  padding: 15px;
  text-align: center;
}

.btn {
  background-color: #F8C9A6;
  font-weight: bolder;
}

h3 {
  color: brown;
}

ul {
  font-weight: bold;
  font-size: 120%;
}

img {
  float:left;
  margin: 30px;
  zoom: 110%;
}

.well {
  background-color: #F8E2A6;
} 

#suggestTrackRuby {
  display: none;
}


#suggestTrackJava {
  display: none;
}

#suggestTrackCsharp {
  display: none;
}

#suggestTrackCss {
  display: none;
}

#learnTyping {
  display: none
}
